*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --bg-color:rgb(15, 15, 15);
  --var1: #43D6FF;
  --var2: #29ACE4;
  --text-color-1: #fff;
  --text-color-2: #000;
  --button-bg: #fff;
}

body{
  background-color: var(--bg-color);
  /* background-color: white; */
}

