*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --bg-color:rgb(15, 15, 15);
  --var1: #43D6FF;
  --var2: #29ACE4;
  --text-color-1: #fff;
  --text-color-2: #000;
  --button-bg: #fff;
}

body{
  background-color: var(--bg-color);
  /* background-color: white; */
}

/* NAVBAR */

.navbar{
  position: absolute;
  z-index: 10;
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.mobile-btn{
  display: none;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
}


.navbar ul {
  display: flex; 
  width: 100%;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 20px;
  font-weight: 500;
}

.navbar a{
  text-decoration: none;
  color: white;
  padding:0px 35px 0px 35px;
  /* border-right: 2px solid #fff;
  border-left: 2px solid #fff;   */

}

.navbar a:hover{
  transition: color 0.3s;
  color: var(--var2);
  padding-bottom: 2px;
}


.navbar img {
  width: 20%;
  position: relative;
  top: 20px;
}

@media screen and (max-width:1025px) {
  .navbar a{
    padding: 0px 22px 0px 22px;
  }

  .navbar img{
    width: 30%;
  }
  /* .menu{
    width: 60%;
  } */

  
}

@media screen and (max-width:769px) {
  .mobile-btn{
    display: block;
    position: fixed;
    right: 16px;
    cursor: pointer;
    z-index: 10;
  }
  .menu{
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    position: fixed;
    left: -100%; 
    right: 0;
    bottom: 0;
    right: 0; 
    width: 100%;
    height: 100vh;
    background-color: #000000;
    z-index: 10;
    transition: left 1s;
  }
  .navbar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 30px;
    height: 70vh;
    justify-content: space-evenly;
  }
  .active{
    left: 0;
  }
  .navbar img{
    width: 40%;
  }
  .home .content{
    width: 100%;
  }
  .home h1{
    width: 100%;
  }
  .home p{
    width: 100%;
    line-height: 30px;
  }
}

@media screen and (max-width: 426px) {
  .mobile-btn{
    display: block;
    position: relative;
    right: 16px;
    cursor: pointer;
    z-index: 10;
  }

  .menu{
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    position: fixed;
    left: -100%; 
    right: 0;
    bottom: 0;
    right: 0; 
    width: 100%;
    height: 100vh;
    background-color: #000000;
    z-index: 10;
    transition: left 1s;
  }

  .navbar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 30px;
    height: 70vh;
    justify-content: space-evenly;
  }

  .active{
    left: 0;
  }

  .navbar img{
    width: 60%;
  }
}





/* NAVBAR END */

/* HOME START */

.home{
  width: 100%;
  height: 100vh;
}

.bgvid{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.home .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 260px 40px 40px;
}

.home h1{
  color: var(--var1);
  text-align: center; 
  width: 80%;
  font-size: 40px; 
  padding-bottom: 10px;
}

.home p{
  color: white;
  text-align: center;
  width: 60%;
  font-size: 20px;
  padding-bottom: 20px;
}

.home button{
  background-color: var(--button-bg);
  color: #000;
  font-size: 25px;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all .3s;
}

.home button:hover{
  color: var(--text-color-1);
  background-color: var(--var2);
  background-color: #71797E;
  /* opacity: .5; */
  transition: all .3s;

}

@media screen and (max-width: 426px) {
  .home .content{
    padding: 0px;
    padding-top: 175px;
  }
  
  .home p{
    width: 100%;
    line-height: 30px;
  } 
}


/* HOME END */

/* ABOUT US START */

.about{
  width: 100%;
  height: 140vh;
  margin: auto;
  background-color: var(--bg-color);
  padding: 40px;
}

.about .about-container{
  width: 80%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.about .aboutvid{
  width: 50%;
  height: 100%;
  margin: auto;
}

.aboutvid video{
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px;
}

.about .about-content{
  width: 50%;
  height: 100%;
  color: var(--text-color-1);
  padding: 40px;
}

.about-content h2{
  font-size: 40px;
  margin-bottom: 20px;
}
.about-content p{
  font-size: 20px;
  margin-bottom: 20px;
}

.about-content li{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-content button{
  background-color: var(--button-bg);
  color: #000;
  font-size: 18px;
  width: 200px;
  height: 50px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease;
}

.about-content button:hover{
  background-color: var(--var2);
  color: var(--text-color-1);
  transition: all .3s ease;
}

.margin{
  margin-right: 15px;
}

/* SERVICE CARD */

.service-container{
  width: 80%;
  margin: 150px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.servicecard{
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 20px;
  border: 2px solid #fff;
  background-color: var(--bg-color);
  padding: 10px;
  transition: all 0.3s ease;
}

.servicecard:hover{
  transform: translateY(-60px);
  transition: all 0.3s ease;
}

.servicecard h1{
  color: var(--text-color-1);
  margin-top: 10px;
}

.servicecard p{
  color: var(--text-color-1);
  margin-top: 10px;
}



@media screen and (max-width:1025px){

  .about{
    height: 140vh;
  }

  .about .about-container{
    width: 100%;
    height: 100vh;
  }

  .about .aboutvid{
    width: 50%;
    height: 75%;
  }

  .service-container{
    margin: 40px auto;
    width: 90%;
  }

  .servicecard{
    margin-right: 15px;
  }


  .servicecard h1{
    font-size: 25px;
  }

}


@media screen and (max-width:769px){
  .about{
    height: 280vh;
  }

  .about .aboutvid{
    width: 100%;
    height: 40%;
  }

  .about .about-container{
    flex-direction: column;
    width: 100%;
    height: 120vh;
  }

  .about .about-content{
    width: 100%;
    padding: 20px;
  }

  .about-content h2{
    font-size: 30px;
  }

  .service-container{
    flex-direction: column;
    margin: 0 auto;
  }
  .servicecard{
    margin-bottom: 30px;
    width: 70%;
    height: 200px;
  }

  .servicecard:hover{
    background-color: blue;
    transform: none;
    transition: all 0.3s ease;
  }

}

@media screen and (max-width: 426px){

  .about{
    height: 285vh;
  }

  .about .about-container{
    flex-direction: column;
    width: 100%;
    height: 130vh;
  }

  .about .aboutvid{
    width: 100%;
    height: 30%;
  }

  .about .about-content{
    width: 100%;
    padding: 20px;
  }

  .about-content h2{
    font-size: 30px;
  }

  .service-container{
    flex-direction: column;
  }
  .servicecard{
    margin-bottom: 30px;
  }

  .servicecard:hover{
    background-color: blue;
    transform: none;
    transition: all 0.3s ease;
  }

}

/* ABOUT US END */

/* HISTORY START */

.history-container{
  width: 100%;
  height: 70vh;
  background-color: var(--button-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.history-content{
  width: 60%;
  color: var(--text-color-2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.history-container h1{
  position: relative;
  top: 50px;
  text-align: center;
}

.history-content .text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-content .text h2{
  font-size: 60px;
}

.dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--text-color-2);
}


@media screen and (max-width:1025px){
  .history-content{
    width: 80%;
  }
}

@media screen and (max-width:769px){
  .history-content{
    width: 100%;
  }

}

@media screen and (max-width: 426px){
  .history-container{
    height: 120vh;
  }
  .history-content{
    flex-direction: column;
  }

  .history-content h1{
    top:0px;
  }

  .history-content .text{
    margin-bottom: 25px;
  }

  .dot{
    width: 200px;
    height: 2px;
    border-radius: none;

  }
}

/* HISTORY END */

/* PROJECTS START */

.projects h1{
  color: var(--text-color-1);
  text-align: center;
  margin-bottom: 60px;
}

/* CAROUSEL START */

.image-carousel {
  width: 40%;
  margin: auto;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  display: none;
  transition: all .5s ease-in-out;
}

.visible {
  display: block;
  opacity: 1;
}

.hidden {
  display: none;
  opacity: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #333;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.dots-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.active {
  background-color: #333;
}


/* CAROUSEL END */

/* IMAGE GALLERY START */

.project-container{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.carousel2-container{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

/* .image-carousel{
  width: 40%;
} */

.project-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.project-content h1{
  margin-bottom: 15px;
  color: var(--var2);
}

.project-content p{
  color: var(--text-color-1);
}


@media screen and (max-width:426px){

  .project-container{
    flex-direction: column;
    margin-bottom: 20px;
  }

  .carousel2-container{
    flex-direction: column;
    margin-bottom: 20px;
  }

  .image-carousel{
    width: 80%;
  }

  .project-content{
    width: 100%;
    align-items: center;
    text-align: justify;
  }

}

/* IMAGE GALLERY END */

/* PROJECTS END */

/* CLIENTS START */

.clients-container{
  border-top: 2px solid white;
}

.clients-container h1{
  color: var(--text-color-1);
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.clients-grid{
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
}

.clients-grid img{
  width: 40%;
  margin: 0 auto;
  opacity: .5;
  transition: opacity .3s ease;
}

.clients-grid > img:first-child{
  width: 100%;
  height: 100%;
}

.clients-grid > img:nth-child(6){
  width: 60%;
}


.clients-grid img:hover{
  opacity: 1;
  transition: opacity .3s ease;
}

@media screen and (max-width:1025px){
  .clients-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
  }
  .clients-grid >img:first-child{
    height: 100%;
  }
  .clients-grid > img:nth-child(6){
    width: 70%;
  }
}

@media screen and (max-width:768px){
  .clients-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
  }

  .clients-grid >img:first-child{
    height: 100%;
  }
  .clients-grid > img:nth-child(6){
    width: 80%;
  }

}

@media screen and (max-width:426px) {
  .clients-grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .clients-grid img{
    width: 60%;
  }

  .clients-grid >img:first-child{
    width: 120%;
    height: 100%;
  }

  .clients-grid > img:nth-child(6){
    width: 90%;
  }
  
}

/* CLIENTS END */



/* CONTACT US START */
.contact-container{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  color: white;
  border-top: 2px solid white;
  padding: 0px 20px;
}

.map-container{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 50px auto;
}


.message-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px auto;
}

.message-container p{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.message-container form{
  width: 80%;
  display: flex;
  flex-direction: column;
}

.message-container input{
  height: 25px;
  width: 80%;
  background-color: blanchedalmond;
  border-style: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.message-container input:hover{
  border: 3px solid #fff;
}

.message-container input:active{
  border: 3px solid #fff;
}

.message-container textarea{
  height: 100px;
  background-color: blanchedalmond;
  border-style: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.message-container label{
  margin-bottom: 10px;
  font-weight: 500;
}

.message-container button{
  width: 200px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 20px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.message-container button span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.message-container button span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.message-container button:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F4A460;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.message-container button:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.message-container button:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

@media screen and (max-width:1026px) {

  .map-container{
    width: 45%;
  }

  .message-container{
    width: 45%;
  }

  .message-container input{
    width: 100%;
  }
}

@media screen and (max-width:769px){

  .contact-container{
    height: 150vh;
    flex-direction: column;
  }

  .map-container{
    width: 100%;
    height: 45%;
  }

  .message-container{
    width: 100%;
    height: 45%;
    align-items: center;
  }

}


/* CONTACT US END */

/* FOOTER START */

.footer{
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 2fr 3fr;
  align-items: flex-start;
  padding: 16px 60px;
}

.footer .footer-logo img{
  width: 300px;
}

.footer .footer-logo p{
  color: white;
}

.footer-grid{
  display: flex;
  justify-content: space-between;
}

.footer-grid .footer-coloumn{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-grid .footer-coloumn h6{
  font-size: 20px;
  color: gray;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer .footer-coloumn li{
  margin-bottom: 3px;
}

.footer .footer-coloumn a{
  color: white;
  padding: 5px 0px;
}


@media screen and (max-width:1025px){

  .footer{
    grid-template-columns: 1fr 3fr;
  }

  .footer .footer-logo img{
    width: 200px;
  }

}

@media screen and (max-width:769px){

  .footer{
    grid-template-columns: none;
    grid-template-rows: 1fr 3fr;
  }

}

@media screen and (max-width: 426px){

  .footer-grid{
    flex-direction: column;
  }
  .footer-grid .footer-coloumn{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px auto;
  }

  /* .footer-grid .footer-coloumn h6{
    margin-bottom: 5px;
  } */
}

/* FOOTER END */